<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966409355214-k7nehgqecu2bgvh4ek5jue3cicjv0e2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966409355214-k7nehgqecu2bgvh4ek5jue3cicjv0e2q</string>
	<key>API_KEY</key>
	<string>AIzaSyD2I6TuVK8e8waPi4bEuHEGvY2rl80e0GU</string>
	<key>GCM_SENDER_ID</key>
	<string>966409355214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SaiKrishna.Music-iOS</string>
	<key>PROJECT_ID</key>
	<string>music-78799</string>
	<key>STORAGE_BUCKET</key>
	<string>music-78799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:966409355214:ios:f80d60fdf7da5920</string>
	<key>DATABASE_URL</key>
	<string>https://music-78799.firebaseio.com</string>
</dict>
</plist>