    <div class="credits text-center">
        <p>
            <a href="#">Register and Login here KDee</a>
        </p>
        <p>
            <a href="#">Link to ur music app</a>
        </p>
    </div>
</body>
</html>